.loading-background {
    background-color: red;
    background-image: radial-gradient(farthest-side at 60% 55%, rgb(0, 174, 255), rgb(0, 129, 235), blue);
    height: 100vh;
    width: 100%;
    padding: 1%;
    z-index: 2;
}

.nav-bar-main {
    max-width: 100%!important;
}
.dropdown-menu.show{

    /*width:30px;*/
    
    margin-top: -10%;
    margin-left: -175%;
    
}

.app-header {
    background: #e3e3e3;
    /*
    margin-top: 0%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-style:hidden;
    */
}

.loading-interface {
    background: rgb(248, 248, 248);
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-style: outset;
}

.center-button {
    display: flex;
    justify-content: center;
    align-item: center;
}

.main-interface {
    background: rgb(27, 114, 198);
}

.main-left {
    width: 50vw;
    float: left;
}

/*  */

.main-right {
    width: 50vw;
    float: right;
    display: "flex";
    flex-direction: "column";
    align-items: "center";
    justify-content: "center";
    height: '90vh';
    padding-left: 5%;
    padding-right: 10%;
}

.title {
    color: #e3e3e3;
    font-size: 2.8vmax;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    white-space: pre;
    text-transform: none;
    font-family: Times, serif;
}

.content {
    color: #e3e3e3;
    margin-top: 6%;
    font-size: 1.4vmax;
}

.loadingusername{
    margin-bottom: 1rem!important;
}
.loadinguserpassword{
    margin-bottom: 1rem!important;
}
.loadinglogin{
    margin-bottom: 1rem!important;
}