/*.expert-btn-primary.hover{
    
    margin-top: -10%;
    margin-left: 100%;
}*/

/*.submit{
    background-color: pink;
    width: 100%;
    height: calc(100vh - 96px); /* navbar height 96px */
    /*display: fixed;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
    margin-left: -130%;
    margin-right: 2%;
    border-radius: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-style:hidden;
}*/

.cardOne{
    max-width: 700px;
    
    width:700px;
    height:500px;
    margin:20px;
   
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 10%;
    border-radius: 2%;
    padding-left: 2%;
    padding-top: 3%;
    padding-right: 2%;
    padding-bottom: 2%;

}
.cardtwo{
    width:350px;
    height:500px;
    margin:20px;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 10%;
    border-radius: 2%;
    padding-left: 2%;
    padding-top: 3%;
    padding-right: 2%;
    padding-bottom: 2%;
}
.qnaire-q-edit-card-utils-container.card-header{
    width:300px;
    margin-top: -10%;
    margin-left: -130%;
}
/*.card-header{
    margin-top: -10%;
    margin-left: -130%;
    margin-top: 0%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    width: 30%;
    float: right;
}*/
/*.timu{
    display: flex;
  justify-content: space-between;
  align-items: center;
}*/
.card-utils-container-one{
    width: 50%;
    float: left;
    margin-top: -10%;
    margin-left: -130%;
}
.card-utils-container-two{
    width: 50%;
    margin-top: -10%;
    margin-left: -130%;
    float: right;
}
.QuestionnaireContentScoring{
    width:300px;
    height:300px;
    display: grid;
  grid-template-columns: 6em 1fr;
  margin: 1.5em 0;
  margin-top: -10%;
    margin-left: -130%;
}
.aaaa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width:500px;
  }
  
.aaaa label {
    white-space: nowrap;
    padding: 0 10px;
    margin: 10;
  }
.submitbutton{
    width:90px;
    height:60px;
    margin-top: 18%;
    margin-left: 60%;
  }
.scoreheader{
      background-color:gainsboro;
      width:335px;
      height:60px;
      margin-left:0%;
      margin-top:0%;
  }
.scoretitle{
    margin-top:2.5%;
    margin-left:43%;
  }
.questionheader{
    background-color:gainsboro;
    width:670px;
    height:60px;
    margin-left:0%;
    margin-top:-1.5%;
  }
.questiontitle{
    margin-left:48%;
    margin-top:1%;
  }
.questionbody{
    background-color:ghostwhite;
    width:670px;
    height:200px;
    margin-left:0%
  }
.questioncontentcard{
      margin-left:0%;
      margin-top:10%;
  }
.scorebody{
    background-color:ghostwhite;
    width:335px;
    height:200px;
    margin-left:0%
  }
.annotation{
    margin-left:10%;
    margin-top:10%;
  }
.scorecontentcard{
    color:red;
    margin-left:45%;
    margin-top:25%;
  }
.lastquestion{
      margin-left:60%;
      margin-top:10%
  }
.nextquestion{
      margin-left:80%;
      margin-top:-10.5%;
  }